$main-font: "DM Sans", sans-serif;
$color-black: #000000;
$black: #000000;
$color-primary: #ffd44f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
}
a {
    color: $color-black;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: $main-font;
}
h1 {
    margin-bottom: 66px;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191b;
    @media (max-width: 1440px) {
        font-size: 72px;
        line-height: 70px;
    }
    @media (max-width: 1224px) {
        font-size: 64px;
        line-height: 70px;
    }
    @media (max-width: 985px) {
        font-size: 48px;
        line-height: 62.5px;
    }
    @media (max-width: 680px) {
        font-size: 32px;
        line-height: 32px;
        margin-top: 40px;
    }
}
h2 {
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -1.56316px;
    @media (max-width: 985px) {
        font-size: 40px;
    }
    @media (max-width: 680px) {
        font-size: 24px;
        line-height: 31.25px;
    }
}
h3 {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}
.container {
    max-width: 1442px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}


.button-primary {
    background-color: #ffd44f;
    border-radius: 8px;
    padding: 16px 21px 17px 21px;
    transition: all 0.5s ease;
    &:hover {
        background-color: #f2c63d;
    }
}
.button {
    display: inline-block;
    background-color: #ffd44f;
    border-radius: 8px;
    padding: 16px 21px 17px 21px;
    transition: all 0.5s ease;
    &:hover {
        background-color: #f2c63d;
    }
}

header {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    .showcase {
        position: relative;
        overflow: hidden; //open 110% width
        margin-bottom: 60px;
        .img-holder {
            position: relative;
            max-width: 702px;
            width: 100%;
            img {
                @media (max-width: 1440px) {
                    max-width: 551px;
                    width: 100%;
                }
                @media (max-width: 1224px) {
                    max-width: 456px;
                    width: 100%;
                }
                @media (max-width: 984px) {
                    max-width: 314px;
                    width: 100%;
                }
                @media (max-width: 680px) {
                    max-width: 287px;
                    width: 100%;
                }
            }
            &::before {
                content: "";
                position: absolute;
                background-image: url(assets/elipse.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 117px;
                height: 117px;
                top: 66%;
                left: -1%;
                z-index: 5;
                @media (max-width: 980px) {
                    width: 100px;
                    height: 100px;
                }
                @media (max-width: 680px) {
                    width: 90px;
                    height: 90px;
                }
            }
            &::after {
                content: "";
                position: absolute;
                background-image: url(assets/vector12.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 100%;
                top: -5%;
                left: -2%;
            }
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url(assets/vector2.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            right: -69%;
            top: -8%;
            z-index: -1;
            @media (max-width: 1440px) {
                right: -80%;
            }
        }
        &::after {
            content: "";
            position: absolute;
            background-image: url(assets/vector3.png);
            background-repeat: no-repeat;
            width: 10%;
            height: 100%;
            top: 10%;
            right: 0;
            z-index: -1;
            @media (max-width: 1920px) {
                right: -9%;
            }
             @media (max-width: 1440px) {
                right: -120px;
            }
        }
        #open-menu {
            position: absolute;
            top: 50px;
            right: 0;
        }
        #open-menu .icon-bar {
            position: absolute;
            display: none;
            height: 5px;
            width: 30px;
            top: 105px;
            right: 30px;
            opacity: 1;
            margin: 0;
            background-color: $color-primary;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
            z-index: 5;
            @media (max-width: 980px) {
                display: block;
            }
        }

        #open-menu .icon-bar:nth-child(1) {
            top: 4px;
        }

        #open-menu .icon-bar:nth-child(2) {
            top: 14px;
        }

        #open-menu .icon-bar:nth-child(3) {
            top: 24px;
        }

        #open-menu.open .icon-bar:nth-child(1) {
            top: 14px;
            transform: rotate(135deg);
            background: $color-primary;
        }

        #open-menu.open .icon-bar:nth-child(2) {
            opacity: 0;
            right: -60px;
            background: $color-primary;
        }

        #open-menu.open .icon-bar:nth-child(3) {
            top: 14px;
            transform: rotate(-135deg);
            background: $color-primary;
        }
    }
    .nav-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
        margin: 0 auto;
        margin-top: 32px;
        transition: all 0.5s ease;
        .logo {
            display: flex;
            align-items: center;
            .logo-text {
                margin-left: 8px;
            }
            span {
                display: block;
                font-size: 24px;
                font-weight: 500;
                line-height: 31px;
                &:last-child {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        
        .nav-links {
            position: relative;
            display: flex;
            align-items: center;
            list-style-type: none;
            transition: all 0.5s ease;
            li {
                font-size: 16px;
                line-height: 18px;
                &:not(:first-child) {
                    margin-left: 67px;
                    @media (max-width: 1224px) {
                        margin-left: 50px;;
                    }
                    @media (max-width: 980px) {
                        margin-left: 0;
                    }
                }
                a {
                    text-decoration: none;
                    color: $color-black;
                }
            }
            &.open {
                padding-top: 106px;
                position: absolute;
                background-color: #fff;
                top: -32px;
                right: 0;
                left: 0;
                width: 110%; //overflow na showcase
                min-height: 400px;
                flex-direction: column;
                align-items: center;
                z-index: 3;
                transform: translateY(0);
                transition: all 0.5s ease;
                li {
                    margin-bottom: 40px;
                }
                @media (max-width: 680px) {
                    height: 100vh;
                    align-items: flex-end;
                    padding-right: 55px;
                }
            }
            @media (max-width: 980px) {
                transform: translateY(-300%);
            }
        }

        li a {
			position: relative;
			padding: 0 0 1.2rem 0;
			color: red;
			transition: all 0.3s ease;
			text-decoration: none;
			min-height: 0;
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				height: 1px;
				background: transparent;
				transition: all 0.3s ease;
			}
			&:hover {
				color: $color-primary;
				&:after {
					width: 100%;
					background: $color-primary;
				}
			}
		}
        li a.active:focus {
            position: relative;
            color: $color-primary;
            &:after {
                content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: $color-primary;
				transition: all 0.3s ease;
            }
        }
        
        

    }

    .header-main {
        span {
            font-size: 20px;
            line-height: 30px;
        }
        .button-box {
            display: flex;
            align-items: center;
            .button {
                margin-right: 24px;
                padding: 21px 29px 20px 29px;
                font-size: 18px;
                line-height: 23.44px;
                @media (max-width: 680px) {
                    padding: 14px 17px;
                    font-size: 16px;
                    line-height: 20.83px;
                }
            }
        }
        .cols {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -41px;
                    left: 0;
                    width: 249px;
                    height: 1px;
                    background-color: $color-primary;
                    @media (max-width: 680px) {
                        width: 159px;
                    }
                }
            }
            p {
                font-size: 20px;
                line-height: 30px;
                max-width: 496px;
                margin-bottom: 34px;
            }
            .small,
            .large {
                @media (max-width: 985px) {
                    font-size: 16px;
                    line-height: 30px;
                }
                @media (max-width: 680px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .large {
                @media (max-width: 1440px) {
                    display: none;
                }
            }
            .small {
                display: none;
                @media (max-width: 1440px) {
                    display: block;
                }
            }
            @media (max-width: 680px) {
                flex-direction: column;
            }
        }
        .col-1-2:first-of-type {
            margin-bottom: 26px;
        }
        .col-1-2 {
            width: 50%;
            @media (max-width: 680px) {
                width: 100%;
            }
        }
    }
}

.services {
    position: relative;
    padding: 80px 0;
    width: 100%;
    margin: 0 auto;
    .card-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .card {
            @media (max-width: 985px) {
                width: 50%;
                margin-bottom: 50px;
            }
        }
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 26px;
        }
        span {
            display: block;
            font-size: 24px;
            line-height: 31.25%;
            text-align: center;
            @media (max-width: 1440px) {
                font-size: 20px;
                line-height: 26.04%;
            }
            @media (max-width: 1224px) {
                font-size: 18px;
                line-height: 23.44%;
            }
            @media (max-width: 1224px) {
                font-size: 12px;
                line-height: 15.62%;
            }
        }
        @media (max-width: 1440px) {
            justify-content: space-evenly;
        }
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-primary;
        opacity: 0.1;
        z-index: -1;
    }
    @media (max-width: 985px) {
        padding: 68px 0 18px 0;
    }
}

.timeline {
    padding: 16px;
    .section-heading {
        margin: 170px 0 70px 0;
        color: #19191b;
        @media (max-width: 984px) {
            margin-top: 100px;
        }
    }
    .col {
        width: 50%;
        @media (max-width: 985px) {
            overflow: hidden;
        }
        @media (max-width: 680px) {
            width: 100%;
        }
    }
    .col1 {
        padding: 48px 0 64px 88px;
        // padding: 16px;
        @media (max-width: 984px) {
            padding: 16px;
        }
    }
    .col2 {
        position: relative;
    }
    .timeline-card {
        position: relative;
        display: flex;
        margin-bottom: 64px;
        .card-cover {
            position: relative;
            @media (min-width: 1920px) {
                position: absolute;
                max-width: 800px;
                top: -4%;
            }
            @media (max-width: 1919px) {
                top: 5%;
            }
            @media (max-width: 1440px) {
                position: relative;
                max-width: 501px;
                width: 100%;
                top: 10%;
            }

            @media (max-width: 984px) {
                max-width: 500px;
                width: 100%;
                right: -40%;
            }
            @media (max-width: 680px) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        h3 {
            @media (max-width: 680px) {
                font-size: 20px;
            }
        }
        p {
            margin-bottom: 24px;
            font-size: 16px;
            line-height: 24px;
            color: #4f596a;
            @media (max-width: 680px) {
                font-size: 12px;
                line-height: 20px;
            }
        }
        span {
            font-size: 16px;
            line-height: 21px;
            @media (max-width: 680px) {
                font-size: 12px;
                line-height: 15.62px;
            }
        }
        .checks {
            margin-bottom: 40px;
            span {
                display: inline-block;
                width: 21%;
                padding-left: 28px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 18px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url(assets/octagon.png);
                }
                &:last-child {
                    margin-left: 100px;
                    @media (max-width: 980px) {
                        margin-left: 67px;
                    }
                    @media (max-width: 680px) {
                        margin-top: 15px;
                        margin-left: 0;
                    }
                }
                @media (max-width: 980px) {
                    width: 35%;
                }
                @media (max-width: 680px) {
                    width: 100%;
                }
            }
        }
        .button {
            font-size: 18px;
            line-height: 23.44px;
            font-weight: bold;
            @media (max-width: 680px) {
                font-size: 14px;
                line-height: 18.23px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $color-primary;
            border-radius: 21px;
            opacity: 0.1;
            z-index: -1;
        }
        @media (max-width: 1440px) {
            max-width: 1320px;
            width: 100%;
        }
        @media (max-width: 680px) {
            flex-direction: column-reverse;
        }
    }
    .reverse {
        flex-direction: row-reverse;
        .card-cover-rev {
            @media (max-width: 985px) {
                left: -11%;
            }
            @media (max-width: 680px) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        @media (max-width: 680px) {
            flex-direction: column-reverse;
        }
    }
}
.two-cols {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    .wrapper {
        padding: 0 50px;
        display: flex;
        .col-cover {
            position: relative;
            @media (max-width: 1440px) {
                width: 480px;
            }
            @media (max-width: 1224px) {
                width: 500px;
                top: 20%;
            }
            @media (max-width: 680px) {
                max-width: 300px;
            }
        }
        .col-1-2 {
            img {
                margin-bottom: 46px;
            }
            h2 {
                margin-bottom: 41px;
                text-align: left;
            }
            p {
                margin-bottom: 32px;
                font-size: 16px;
                line-height: 28px;
                @media (max-width: 680px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            .button {
                font-size: 18px;
                line-height: 23px;
                font-weight: bold;
                @media (max-width: 680px) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        .non-reversed {
            .col-1-2 {
                &:first-child {
                    margin-right: 120px;
                }
            }
        }
        .reverse {
            margin-top: 40px;
            flex-direction: row-reverse;
            .col-1-2 {
                &:first-child {
                    margin-left: 120px;
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 70%;
            height: 50%;
            width: 215px;
            transform: translateY(-50%) rotateY(180deg);
            background-image: url(assets/right-shape.png);
            background-repeat: no-repeat;
            @media (max-width: 1920px) {
                width: 80px;
            }
            @media (max-width: 1244px) {
                content: none;
            }
            @media (max-width: 680px) {
                content: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            height: 100%;
            width: 215px;
            transform: translateY(-50%);
            background-image: url(assets/right-shape.png);
            background-repeat: no-repeat;
            @media (max-width: 1920px) {
                width: 80px;
            }
            @media (max-width: 1244px) {
                content: none;
            }
            @media (max-width: 680px) {
                content: none;
            }
        }
        @media (max-width: 984px) {
            flex-direction: column-reverse;
            align-items: center;
        }
        @media (max-width: 680px) {
            padding: 0;
        }
    }
    .non-reversed {
        .col-1-2 {
            &:first-child {
                margin-right: 120px;
                @media (max-width: 1244px) {
                    margin-right: 20px;
                }
            }
        }
    }
    .reverse {
        margin-top: 40px;
        flex-direction: row-reverse;
        .col-1-2 {
            &:first-child {
                margin-left: 120px;
                margin-bottom: 170px;
                @media (max-width: 1244px) {
                    margin-left: 20px;
                }
            }
        }
        @media (max-width: 984px) {
            flex-direction: column-reverse;
        }
    }
}

.contact {
    width: 100%;
    margin: 0 auto;
    background-color: $color-primary;
    padding: 51px 0;
    &-wrapper {
        h2 {
            max-width: 523px;
            width: 100%;
            font-weight: bold;
            font-size: 48px;
            line-height: 70px;
            text-align: center;
            letter-spacing: -1.87579px;
            margin: 0 auto;
            @media (max-width: 985px) {
                font-size: 40px;
                line-height: 56px;
            }
            @media (max-width: 680px) {
                font-size: 24px;
                line-height: 40px;
            }
        }
        .large {
            @media (max-width: 1440px) {
                display: none;
            }
        }
        .small {
            display: none;
            @media (max-width: 1440px) {
                display: block;
            }
        }
        .button-wrapper {
            margin-top: 20px;
            text-align: center;
        }
        .white {
            background-color: white;
            padding: 16px 33px 17px 33px;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            transition: all 0.5s ease;
            &:hover {
                background-color: #fbf3db;
            }
        }
    }
}
.footer {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 60px 0;
        .col {
            width: 25%;
            &:not(:first-child) {
                margin-left: 100px;
                @media (max-width: 984px) {
                    margin: 0 0 50px 0;
                }
            }
            @media (max-width: 984px) {
                width: 27%;
            }
        }

        .col1 {
            @media (max-width: 984px) {
                margin-bottom: 50px;
            }
            @media (max-width: 680px) {
                width: 100%;
            }
        }
        .col2 {
            @media (max-width: 680px) {
                width: 50%;
            }
        }
        .col3 {
            @media (max-width: 680px) {
                width: 50%;
            }
        }
        .col4 {
            @media (max-width: 680px) {
                width: 100%;
            }
        }
        .logo {
            display: flex;
            align-items: center;
            .logo-text {
                margin-left: 8px;
            }
            span {
                display: block;
                font-size: 24px;
                font-weight: 500;
                line-height: 31px;
                &:last-child {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        .logo-p {
            margin-top: 16px;
            font-size: 14px;
            line-height: 28px;
        }
        h3 {
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
        }
        ul {
            list-style: none;
            li {
                margin-bottom: 12px;
                font-size: 16px;
                line-height: 28px;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .contact-list {
            li {
                .mail-item,
                .phone-item,
                .location-item {
                    position: relative;
                    padding-left: 32px;
                }
                .location-item {
                    display: block;
                }
                .mail-item::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 16px;
                    height: 13px;
                    transform: translateY(-50%);
                    background-image: url(assets/mailfooter.png);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .phone-item::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 16px;
                    height: 13px;
                    transform: translateY(-50%);
                    background-image: url(assets/callfooter.png);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .location-item::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 10%;
                    width: 16px;
                    height: 13px;
                    background-image: url(assets/locfooter.png);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
        @media (max-width: 984px) {
            flex-wrap: wrap;
        }
    }
    .footer-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .copyright {
            font-size: 14px;
            line-height: 28px;
            margin: 40px 0;
            span {
                background-color: $color-black;
                color: white;
            }
            @media (max-width: 680px) {
                margin: 20px 0;
            }
        }
        .social {
            .social-item {
                display: inline-block;
                height: 100%;
                &:not(:first-child) {
                    margin-left: 32px;
                }
            }
        }
        @media (max-width: 680px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }
}
